body{

    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Para alinear verticalmente en el centro */
    align-items: center;     /* Para alinear horizontalmente en el centro */
    width: 202vh;

}
.fnosotros h1{
 text-align: left;
 position: relative;
 left: 100px;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt{
    margin-right:80px;
    text-align:left;
    width: 720px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.imagen{
    width: 470px;
    height: 450px;
    margin-bottom: 20px;
    position: relative;
    top: 5px;

}
.txt2{
    margin-top: 30px;
    width: 1270px;
}
.txt2 p{
    text-align: left;
    width: 700px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.txt2 h2{
    text-align: left;
    
}
.txt3{
    width: 1270px;
    margin-top:10px;
}
.txt3 h2{
    text-align: left;
}
.txt3 p{
    margin-right:80px;
    text-align:left;
    width: 720px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   

}
.txt4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt4c p{
    margin-right:80px;
    text-align:left;
    width: 720px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.imagen2{
    width: 470px;
    height: 450px;
    margin-bottom: 20px;
    position: relative;
    top: -45px;
}
.utxt h2{
    text-align: left;
    position: relative;
    left: -240px;

}
.utxt p{
    margin-right:80px;
    text-align:left;
    width: 720px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    left: -240px;
   
}
.utodo img{
    width: 1280px;
}
.utodo p{
    text-align: left;
    width: 720px;
}
.utodo h3{
    text-align: left;
}