.progra-web{
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(150px,1fr))
    gap: 16px;
    }
body{
 
    
    display: flex;
    flex-direction: column;
    justify-content: center; /* Para alinear verticalmente en el centro */
    align-items: center;     /* Para alinear horizontalmente en el centro */
    width: auto;
    height: auto;

}
fp a{
    position: relative;
    color: green;
}

.pimagenf1{
    display: flex;
    justify-content: center;
}
.pimagenf2{
 display: flex;
 justify-content: center;
}

.imagetxt {
    position: relative;
    text-align: center;
    font-size: 30px;
}
.buton718{
    font-size:20px;
    position:relative;
    left:-180px;
    right: 200px;
    top: -50px;
    line-height: 5px;
    
}
.buton718 a{
    color: white;
    background-color: transparent;
    padding: 10px;
    border:1px,solid #fff;
    cursor: pointer;
    padding: 15px;
    text-decoration: inherit;
}
.buton718 a:hover{
    color:red;
    
}
.butonmacan{
    font-size:20px;
    position:relative;
    left: -200px;
    top: -50px;
    line-height: 5px;
}
.butonmacan a{
    color: white;
    background-color: transparent;
    border:1px,solid #fff;
    cursor: pointer;
    padding: 15px;
    text-decoration: inherit;
}
.butonmacan a:hover{
    color:red;

}
.butonpanamera{
    font-size: 20px;
    position: relative;
    left: -200px;
    top: -50px;
    line-height: 5px;
}
.butonpanamera a{
    color: white;
    background-color: transparent;
    padding: 10px;
    border: 1px, solid #fff;
    cursor: pointer;
    padding: 15px;
    text-decoration: inherit;
}
.butonpanamera a:hover{
    color:red;
}
.butontaycan{
    font-size: 20px;
    position: relative;
    left: -200px;
    top: -50px;
    line-height: 5px;
}
.butontaycan a{
    background-color: transparent;
    color: white;
    padding: 15px;
    border: 1px, solid #fff;
    cursor: pointer;
    text-decoration: inherit;
}
.butontaycan a:hover{
    color:red;

}
.butoncayenne{
    font-size: 20px;
    position: relative;
    left: -200px;
    top:-50px;
    line-height: 5px;
}
.butoncayenne a{
  color: white;
    background-color: transparent;
    padding: 10px;
    border:1px,solid #fff;
    cursor: pointer;
    padding: 15px;
    text-decoration: inherit;
    
}
.butoncayenne a:hover{
    color:rgb(252, 0, 0);
}
.buton911{
    font-size: 20px;
    position: relative;
    left: -200px;
    top: -50px;
    line-height: 5px;
}
.buton911 a{
    color: white;
    background-color: transparent;
    padding: 15px;
    border: 1px,solid white;
    cursor: pointer;
    text-decoration: inherit;
}
.buton911 a:hover{
    color:red;
}

.imagetxt p {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    z-index: 1;
}
.fhistory{
    position: relative;
    text-align: left;
    font-size: 60px;


}
.fhistory h2 {
    position: absolute;
    text-align: left    ;
    top: 0;
    left: 0;
    right: 2;
    background-color: rgba(199, 11, 11, 0.897);
    background-position: top;
    color: white;
    padding: 2.1%;
    z-index: 1;
    height: 20%;

}
.fhistory p{
    position: absolute;
    text-align: center;
    text-align: 1.5;
    top: 180px;
    left: -353px;
    right: 550px;
    color: white;
    padding: 2.1%;
    z-index: 1;
    font-size: 30px;
    font-style: italic;
}
.fhistory a{
    position: absolute;
    text-align: center;
    top: 320px;
    left: -1px;
    right: 400px;
    color: white;
    z-index: 1;
    font-size: 50px;
    color: black;
    width: 25%;
    font-style: italic;


}
a{
    text-decoration: none;
    border: 2px solid white;

}


.porscheL h1{
    top: 50px;
    left: 20px;
    text-align: left; 
}
.fp h2{
    text-align: left;
    position: relative;
    padding-left: 7.454%;
    padding-right: 7.1454%;
    width: 90%;
    margin-left: 1%;
    font-family: inherit;
    font-size: 28px;
}
.porscheL h1{
    top: 15px;
    left: 20px;
    position: relative;
}
.instagram-media{
    width: 350px;
    height: 450px;
 
}
.post-conteiner{
    display:inline-block;
    margin-right:1px;
    background-color: black;
    width: 400px;
}
.map iframe{
 
    width: 100%;
    height: 800px;

}

.resolucion{
    width: 99%;
    text-align: center;

}
@media(max-width:767px){
    .desktop{
        display: none;
    }
    .tablet{
        display: none;
    }
    
}
@media(min-width: 768px ) and (max-width: 990px){
    .desktop{
        display: none;
    }
    .movil{
        display: none;
    }
    

}
@media(max-width:767px){
    .tablet{
        display: none;
    }
    .movil{
        display: none;
    }

}
